
<div class="modal fade modal-md" id="exampleModal-editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
  
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane-editar"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Productos</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane-editar"
                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Categoria</button>
            </li>
  
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane-editar" role="tabpanel" aria-labelledby="home-tab"
              tabindex="0">
              <form class="row g-3 ">
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Codigo</label>
                  <input required="true" [value]="producto.codigo" [ngModel]="producto.codigo" name="input1" (ngModelChange)="producto.codigo = $event" type="text" class="form-control form-control-sm" id="inputNanme4">
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label" >descripcion</label>
                  <input required="true" type="email" name="input2" [ngModel]="producto.descripcion" (ngModelChange)="producto.descripcion = $event"  class="form-control form-control-sm" id="inputEmail4">
                </div>
                <div class="col-12">
                  <label for="inputPassword4"  class="form-label">Precio</label>
                  <input required="true" type="number" name="input3" [ngModel]="producto.precio" (ngModelChange)="producto.precio = $event"  class="form-control form-control-sm" id="inputPassword4">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Cantidad</label>
                  <input required="true" type="number" name="input4" [ngModel]="producto.cantidad" (ngModelChange)="producto.cantidad = $event"  class="form-control form-control-sm" id="inputAddress" >
                </div>
  
              </form>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane-editar" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
              <select [ngModel]="producto.categoria"(ngModelChange)="producto.categoria = $event"  class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option *ngFor="let categoria of listaCategorias" >{{ categoria.descripcion }}</option>
              </select>
            </div>
  
          </div>
  
  
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit"  (click)="guardarProductoEditado(producto)" data-bs-dismiss="modal" class="btn btn-primary">Guargar Producto</button>

        </div>
      </div>
    </div>
  </div>