<style>
  .navbar-nav .nav-link.active {
    color: rgb(102, 90, 190); /* Cambia el color del texto al color deseado */
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"  routerLink="dashboard" routerLinkActive="active">S-F</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="dashboard" routerLinkActive="active" aria-current="page" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="productos" routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="usuarios" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="categorias" routerLinkActive="active">Categorias</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Facturas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"routerLink="nueva-factura" routerLinkActive="active">Nueva Factura</a></li>
            <li><a class="dropdown-item" routerLink="ver-facturas" routerLinkActive="active">Ver Factura</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



